<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
  <add key="SQLConnectionString" value="Data Source=.;Initial Catalog=ArchiveTestDB;User ID=sa;Password=usa,hcifhca," />
  <add key="OracleConnectionString" value="Persist Security Info=True;user id=app;data source=app;password=app666" />
  </appSettings>
</configuration>